@import 'variables';
@import 'mixins';

div.left ul.nav {
  li a { color: @grayLight; }
  li.place {
    span.type { color: @black; }
    span.name, span.location { color: @gray; }
  }
  
  li.entity {
    span.stable { color: @blue; }
    span.transient { color: @orange; }
    span.name, span.location { color: @gray; }
  }
  
  li.link {
    span.stable { color: @blue; }
    span.transient { color: @orange; }
    span.increases { color: @green; }
    span.decreases { color: @red; }
    span.does_not_change { color: @yellow; }
  }
}

#canvas {
  border: 1px solid rgba(0, 0, 0, 0.1);
  .border-radius(4px);
}

svg {
  .saving {
    fill: lighten(@purple, 15);
    stroke: @purple;
    stroke-width: 2;
  }
  
  text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  
  .place rect, .place circle {
    fill: rgba(255,255,255,.8);
    stroke: rgba(0,0,0,.25);
    stroke-width: 3px;
  }
  .entity text {
    fill: @white;
  }
  .entity.stable rect {
    fill: @blue;
    stroke: darken(@blue, 8);
  }
  .entity.transient rect {
    fill: @orange;
  }
  
  .link {
    fill: transparent; 
    stroke-width: 3;
    opacity: .75;
    &.increases { stroke: @green; }
    &.decreases { stroke: @red; }
  }
  
  marker#increases { fill: @green; }
  marker#decreases { fill: @red; }
}