@import 'variables';
@import 'mixins';

div.main-container {
  margin-top: 36px;
}

.subnav {
  width: 100%;
  height: 36px;
  #gradient > .vertical(#f5f5f5, @grayLighter);
  border: solid 1px darken(@grayLighter, 8);
  
  .nav li a {
    border-left: solid 1px #f5f5f5;
    border-right: solid 1px #e5e5e5;
    padding-top: 11px;
    padding-bottom: 11px;
    margin: 0px;
    .border-radius(0px);
  }
}

.subnav-fixed {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  border-color: darken(@grayLighter, 8);
  border-width: 0 0 1px;
  .border-radius(0px);
  .box-shadow(~"inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1)");
}

div.left ul.nav {
  font-size: 11px;
  li { line-height: 12px; }
  li a { color: @grayLight; }
  li.place {
    span.type { color: @black; }
    span.name, span.location { color: @gray; }
  }
  
  li.entity {
    span.stable { color: @blue; }
    span.transient { color: @orange; }
    span.name, span.location { color: @gray; }
  }
  
  li.link, li.fact {
    span.stable { color: @blue; }
    span.transient { color: @orange; }
    span.increases { color: @green; }
    span.decreases { color: @red; }
    span.does_not_change { color: @yellow; }
  }
}

#canvas, #facts {
  border: 1px solid rgba(0, 0, 0, 0.1);
  .border-radius(4px);
}

svg {
  .saving {
    fill: lighten(@purple, 15);
    stroke: @purple;
    stroke-width: 2;
  }
  
  text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }
  
  .place rect, .place circle {
    fill: rgba(255,255,255,.8);
    stroke: rgba(0,0,0,.25);
    stroke-width: 3px;
  }
  .entity text {
    fill: @white;
  }
  .entity.stable rect {
    fill: @blue;
    stroke: darken(@blue, 8);
  }
  .entity.transient rect {
    fill: @orange;
  }
  
  .link, .fact {
    fill: transparent; 
    stroke-width: 3;
    opacity: .75;
    &.increases { stroke: @green; }
    &.decreases { stroke: @red; }
    &.does_not_change { stroke: @yellow; }
  }
  
  marker#increases { fill: @green; }
  marker#decreases { fill: @red; }
  marker#does_not_change { fill: @yellow; }
}